@media screen and (min-width:0px) and (max-width:479px) {
   
    #portfolio{
        display: none;
    }

    .container{
        margin: 30px;
    }
    .horizontal-line{
        display: none;
    }

    /* Head */
    .head{
        height: 250px;
        flex-direction: column;
        text-align: center;
    }

    .intro{
        margin:0;
        width: 80%;
    }
    .head img{
        width: 120px;
    }
    
    /* About us */

    .about-us {
        height: 360px;
    }

    /* skills */

    .skills{
        height: 500px;
    }

    /* project */

    .project{
        height: 500px;
    }

    .projectinner{
        flex-direction: column;
    }

    .projectinner img{
        width: 300px;
    }

    /* footer */

    .footer{
        height: 300px;
    }
}